[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
autobahn = "*"
Automat = "*"
bta-lib = "*"
certifi = "*"
cffi = "*"
chardet = "*"
constantly = "*"
cryptography = "*"
dateparser = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
numpy = "*"
pandas = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
PyHamcrest = "*"
pyOpenSSL = "*"
python-binance = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
requests = "*"
service_identity = "*"
six = "*"
Twisted = "*"
txaio = "*"
tzlocal = "*"
ujson = "*"
urllib3 = "*"
"zope.interface" = "*"
bs4 = "*"

